fastapi
uvicorn[standard]
sqlalchemy
pymysql
pydantic
pydantic-settings
python-multipart
python-dotenv
langchain-openai
langchain-core
langchain-text-splitters
dashscope
openai
pymilvus
minio
pdfplumber
python-docx
pypdfium2
mutagen
numpy
pandas
